[Unit]
Description=Disable zswap
DefaultDependencies=no
Requires=zram-swap.service
After=zram-swap.service
Before=swap.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo 0 > /sys/module/zswap/parameters/enabled'

[Install]
WantedBy=swap.target
